* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #0e1538;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    position: relative;
    /* flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 60px;
    margin: 40px;
    background-color: rgba(0, 0, 0, .5);
    transition: 1s;
    overflow: hidden;
    text-decoration: none;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0004);
}

a:hover {
    background-color: var(--clr);
    box-shadow: 0 0 10px var(--clr),
                0 0 30px var(--clr),
                0 0 60px var(--clr),
                0 0 100px var(--clr);
}

a::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 400%;
    background-color: var(--clr);
    transition: 1s;
    animation: animate 2s linear infinite;
    animation-delay: calc(0.33% * var(--i));
}
a:hover::before {
    width: 120%;
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

a::after {
    content: '';
    position: absolute;
    inset: 4px;
    background-color: #0e1538;
    transition: .5s;
}

a:hover::after {
    background-color: var(--clr);
}

a span {
    position: relative;
    z-index: 1;
    font-size: 2rem;
    color: #fff;
    opacity: .5;
    text-transform: uppercase;
    letter-spacing: 4px;
}

a:hover span {
    opacity: 1;
}